.explore-grid-container{
    display: grid;
    
}
.explore-container-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    align-items: center;
}
.explore-container-header p {
    font-size: 22px;
}
.explore_item2 {
    display: flex;
    justify-content: center;
    gap:20px;
    width: 600px;
    align-items: center;
}
.explore_item2 > button {
    background-color: #ffff;
    height: 35px;
    width: 100px;
    border-radius: 15px;
    font-size: 16px;
}
.explore_item2 > button:nth-child(2){
    background-color: #ffdf03;
    width: 150px;
}
.explore_item2 >div {
    height: 35px;
    width: 220px;
    font-size: 13px;
    border-radius: 15px;
    border: 1px solid;
    display: flex;
    align-items: center ;
    justify-content: flex-end;
    background-color:rgb(246,246,246);
    padding: 10px;

}
.explore_item2 >div >select {
    border: none;
    background-color:rgb(246,246,246);
    margin-right:10px ;
    margin-left: 10px;
}
.prodImage {
    display: flex;
    width:335px;
    height: 300px;
    min-width: 335px;
    flex-grow: 1;
}
.pro-img {
    height: 0;
    width: 0;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
}
.grid-pro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 10px;
    padding: 10px;
    margin-left: 45px;
    gap: 60px;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
}
.grid-pro div {
    display: grid;
    align-items: top;
    justify-content: flex-start;
    height: 400px;
    box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.2);
}
.try {
    display: flex;
}
.filter-sidebar {
    display: flex;
    margin-top: 20px;
    width: 300px;
    flex-direction: column;
    gap: 30px;
}
.filter-sidebar span {
    text-align: right;
    cursor: pointer;
}
.category {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.curve-button {

}
.category2 {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.category2-items {
    display: flex;
   
}