.overlay {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.signin {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 70%;
    background-color: #ffff;
    z-index: 2;
}
.signin-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    row-gap: 10px;
}
.close {
    cursor: pointer;
    border: 0;
    background-color: #ffff;
    font-size: 16px;
}
.signin-container-items {
    display: flex;
    justify-content: space-between;
}
.item2 {
    justify-content: flex-start;
    column-gap: 50px;
}
.item3 {
    flex-direction: column;
    justify-content: center ;
    gap:10px;
   
}
.item3 p {
    text-decoration: underline;
    cursor: pointer;
}
.form-child{
    display: flex;
    justify-content: space-between;
}